mixin sEntertainment(data)
	// start sEntertainment
	+b.SECTION.sEntertainment.section#sEntertainment&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Развлечения
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin slide(i, t)
						+e.slide.swiper-slide
							+e.item.bg-wrap
								+pic(`entertainment-${i}.jpg`, 'bg', 0).picture-bg
								h5!= t
					+slide(1, `Дайвинг`)
					+slide(2, `Снорклинг`)
					+slide(3, `Экскурсии`)
					+slide(4, `Отдых в <br> джакузи и <br> лаундж-зонах`)
					+slide(5, `Катание на <br> вейкборде`)
					+slide(6, `Совместный <br> просмотр <br> фильмов`)
					+slide(7, `Тренировки на <br> баланс-борде`)
					+slide(8, `SUP-серфинг`)
					+slide(9, `Игры (мафия, <br> настолки)`)
					+slide(10, `Крутые <br> вечеринки`)
			.swiper-pagination.d-md-none
			+e.arrows
				+arrow
			+e.bg.d-none.d-xl-block
				img(src="img/entertainment-bg.jpg")

	// end sEntertainment