mixin footer()
	+b.FOOTER.footer#footer
		.container
			.row(data-wow-delay="0.1s" data-wow-duration="1.2s").wow.animate__fadeIn
				+e.copy &copy;&nbsp;#[span.year 2021] Гагарин Кайт.
				+e.policy(href="#") Политика конфеденциальности
				+e.develop Разработка сайта – 
					a(href="#") AD HEADS