mixin footer()
	+b.FOOTER.footer
		.container
			.row
				+e.copy &copy;&nbsp;2021 Гагарин Кайт.
				+e.policy(href="#") Политика конфеденциальности
				+e.develop Разработка сайта – 
					a(href="#") AD HEADS