// start .sTariffs
.sTariffs {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
	position: relative;
	animation-name:fadeIn;
	.row{
		@include media-breakpoint-down(lg){
			--bs-gutter-y: 20px;
		}
	}
	&__background{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -4;
		max-width: rem(1190);
		transform: matrix(-1, 0, 0, 1, 0, 0);
		&::after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(270deg, rgba(245, 247, 247, 0) 0%, #F5F7F7 100%), linear-gradient(180deg, #F5F7F7 0%, rgba(245, 247, 247, 0) 41.15%), linear-gradient(0deg, rgba(245, 247, 247, 0.85), rgba(245, 247, 247, 0.85));
		}
		img{
			transform: matrix(-1, 0, 0, 1, 0, 0);
			height: rem(892);
		}
	}
	background-color: $light;
	&__desc{
		background-color: #fff;
		padding: rem(63);
	}
	&__title{
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.1em;
		line-height: 52px;
	}
	&__caption{
		padding-top: rem(19);
		text-align: center;
		line-height: 150%;
	}
	&__price{
		padding-top: rem(15);
		text-align: center;
		color:$primary;
		font-size: rem(48);
		font-weight: 700;
		text-transform: capitalize;
	}
	&__list{
		padding-top: rem(13);
		padding-left: rem(13);
		@include media-breakpoint-up(lg){
			height: rem(400);
		}
		@include media-breakpoint-between(lg,xxl){
			height: rem(520);
		}
		li{
			padding-left: rem(4);
			padding-bottom: rem(8.5);
			&::marker{
				color:$primary;
			}
		}
	}
	&__btn-wrap{
		padding-top: rem(22);
		width: 100%;
		display: flex;
		justify-content: center;
	}
	&__btn{
		width: rem(240);
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sTariffs