mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section.bg-wrap#headerBlock( )&attributes(attributes)
		//- video#bgvid.fillItUp.video(playsinline='playsinline' poster="img/@2x/poster.jpg" autoplay='autoplay' muted='muted' loop='loop')
			
		//- 	source(src='short_video3.mp4' type='video/mp4' loading='lazy')
		+pic('header-bg.wrap','bg').picture-bg
		.container(data-wow-delay="0.1s" data-wow-duration="1.2s").wow.animate__fadeIn
			+e.top-text  Кайтинг на&nbsp;яхте по&nbsp;Египту с&nbsp;9&nbsp;по&nbsp;15&nbsp;октября
			h1 Кайт-сафари 
			+e.H5.caption Успей забронировать место&nbsp;&mdash; осталось 25&nbsp;мест
			div
			+e.btn(href="#modal-call" data-title="Забронировать место" data-btn="Забронировать место" data-order="Забронировать место").link-modal-js Забронировать место
		+e.footer.d-none.d-md-block(data-wow-delay="0.25s" data-wow-duration="1.2s").wow.animate__fadeIn
			+e.bottom.scroll-link(href="#sDescription") 
				span
				+e.tt Листайте вниз 
	// end headerBlock