mixin sHowItWas(data)
	// start sHowItWas
	+b.SECTION.sHowItWas.section#sHowItWas&attributes(attributes)
		.container
			+b.section-title.text-center(data-wow-delay="0.1s" data-wow-duration="1.2s").wow.animate__fadeIn
				h2 Как это было в том году
			+e.slider--js.swiper-container(data-wow-delay="0.25s" data-wow-duration="1.3s").wow.animate__fadeIn
				.swiper-wrapper
					mixin slide(i)
						+e.slide.swiper-slide
							+e.item.bg-wrap(href=`img/@2x/howitwas-${i}.jpg` data-fslightbox="howitwas-gallery")
								+pic(`howitwas-${i}.jpg`, 'bg', 0).picture-bg
					+slide(1)
					+slide(2)
					+slide(3)
					+slide(4)
					+slide(5)
			.swiper-pagination.d-md-none
			+e.arrows
				+arrow
			+e.bg.d-none.d-xl-block
				+pic('howitwas-bg.jpg','bg')
				//- img(src="img/howitwas-bg.jpg")
	// end sHowItWas