mixin sHowItWas(data)
	// start sHowItWas
	+b.SECTION.sHowItWas.section#sHowItWas&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Как это было в том году
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin slide(i)
						+e.slide.swiper-slide
							+e.item.bg-wrap(href=`img/@2x/howitwas-${i}.jpg` data-fslightbox="howitwas-gallery")
								+pic(`howitwas-${i}.jpg`, 'bg', 0).picture-bg
					+slide(1)
					+slide(2)
					+slide(3)
					+slide(4)
					+slide(5)
			+e.arrows
				+arrow
			+e.bg.d-none.d-xl-block
				img(src="img/howitwas-bg.jpg")
	// end sHowItWas