mixin sTraining(data)
	// start sTraining
	+b.SECTION.sTraining.section#sTraining&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Обучение для всех
			.row
				.col-12.col-lg-6.img1
					img(src="img/training-1.png")
				.col-12.col-lg-6.caption--1
					h4.h4-1 для начинающих
					ul.ul-1
						li Cпокойная, прозрачная вода 
						li Комфортная глубина по&nbsp;пояс без волн
						li Большое открытое пространство для катания
						li Опытные инструктора, которые быстро поставят на&nbsp;доску
						li Ежедневная фотофиксация катания с&nbsp;разбором ошибок и&nbsp;обучающими лекциями
						li Предоставление полного комплекта снаряжения (лучше кайты, планка, доска, трапеция, гидрик)
						li Медицинская страховка
				.col-12.col-lg-6.caption--2
					h4.h4-2 Для продвинутых
					ul.ul-2
						li Флэт, а&nbsp;с&nbsp;ним любой элемент учить легче и&nbsp;быстрее
						li Отсутствие трафика
						li Хорошая ветровая статистика
						li От&nbsp;неуверенных бэкроллов до&nbsp;стильных трюков всего за&nbsp;7&nbsp;дней
						li Вокруг тебя много инструкторов&nbsp;&mdash; всегда можно спросить совета или взять урок
						li Ежедневная фотофиксация катания с&nbsp;разбором ошибок и&nbsp;обучающими лекциями
						li Медицинская страховка
				.col-12.col-lg-6.img2
					img(src="img/training-2.png")
			+e.bg1.d-none.d-xl-block
				+pic('training-bg-1.jpg')
			+e.bg2.d-none.d-xl-block
				+pic('training-bg-2.jpg')
	// end sTraining