extends layout/main.pug


include ../blocks/sDescription/_sDescription.pug
include ../blocks/sSliderBlock/_sSliderBlock.pug
include ../blocks/sTraining/_sTraining.pug
include ../blocks/sInsructors/_sInsructors.pug
include ../blocks/sProgram/_sProgram.pug
include ../blocks/sEntertainment/_sEntertainment.pug
include ../blocks/sTariffs/_sTariffs.pug
include ../blocks/sHowItWas/_sHowItWas.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sContact/_sContact.pug
//- include ../blocks/sTEst00/_sTEst00.pug

block variables
	- let  mainPage= 'main-page' 
	//- - let  bg= 'index.jpg'

block title
	- let  title= 'Гагарин Сафари'
	title= title
block pagecontent 
	+mob-mnu()
	+header()
		//- +topLine()
		+top-nav()
	+headerBlock()
	+sDescription()(data-wow-delay="0s" data-wow-duration="1.5s").wow.fadeIn
	+sSliderBlock()(data-wow-delay="0s" data-wow-duration="1.2s").wow.fadeInUp
	+sTraining()(data-wow-delay="0s" data-wow-duration="1.5s").wow.fadeIn
	+sInsructors()(data-wow-delay="0s" data-wow-duration="1.2s").wow.fadeInUp
	+sProgram()(data-wow-delay="0s" data-wow-duration="1.5s").wow.fadeIn
	+sEntertainment()(data-wow-delay="0s" data-wow-duration="1.2s").wow.fadeInUp
	+sTariffs()(data-wow-delay="0s" data-wow-duration="1.5s").wow.fadeIn
	+sHowItWas()(data-wow-delay="0s" data-wow-duration="1.2s").wow.fadeInUp
	+sReviews()(data-wow-delay="0s" data-wow-duration="1.5s").wow.fadeIn
	+sContact()(data-wow-delay="0s" data-wow-duration="1.5s").wow.fadeIn
	+footer()

