mixin sSliderBlock(data)
	// start sSliderBlock
	+b.SECTION.sSliderBlock.section#sSliderBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sSliderBlock
				
			.row
	// end sSliderBlock