mixin sInsructors(data)
	// start sInsructors
	+b.SECTION.sInsructors.section#sInsructors&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sInsructors
				
			.row
	// end sInsructors