.menu{
	// display: flex;
	// list-style: none;
	// @include roww(20px);
	padding-top: rem(40);
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	flex-wrap: wrap;
	li{
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		// text-align: center;
		padding: rem(12) rem(60);
		@include media-breakpoint-down(md){
			padding-top: rem(6);
			padding-bottom: rem(6);
		}
		color: $body-color;
		font-size: rem(30);
	}
}