.top-nav {
	// background: svg-load('../svg/check.svg',  stroke=$primary);
	//

	@include media-breakpoint-up(xl) {
		padding-top: var(--nav-sp-y);
		padding-bottom: var(--nav-sp-y);
	}
	padding-top: var(--nav-sp-y);
	padding-bottom: var(--nav-sp-y);
	background-color: #fff;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 200;
	border-bottom: 1px solid $light;
	img {
		height: var(--btn-height);
		width: auto;
	}
	.row {
		align-items: center;
		--bs-gutter-x: #{rem(12)};
		@include media-breakpoint-up(sm) {
			--bs-gutter-x: 1.6666665rem;
		}
	}
	.sContact__btn {
		width: rem(30) !important;
		height: rem(30) !important;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-radius: 50%;
		padding: 0;
		.icon {
			font-size: rem(20);
			margin: 0;
		}
		&.btn-success {
			margin-right: 0;
		}
	}
	.text-secondary {
		line-height: calc(23 / 18);
		@include media-breakpoint-down(lg){
			padding-left: 0;
			margin-left: -60px;
		}
		@include media-breakpoint-down(md){
			font-size: rem(16);
			margin-left: rem(-100);
		}
	}
	&__tel {
		font-size: rem(24);
		font-weight: bold;
		line-height: 1;
		// &:not(:hover){
		// 	color: #1E2831;

		// }
		color: $body-color !important;
		& + div {
			@include media-breakpoint-down(xxl) {
				line-height: 1;
			}
		}
	}

	&__tel-icon {
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		background: #ff1b34;
		width: 50px;
		height: 50px;
		@include media-breakpoint-up(xxl) {
			width: 60px;
			height: 60px;
		}
		.icon {
			color: #fff;
			font-size: 20px;
			@include media-breakpoint-up(xxl) {
				font-size: 24px;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
