mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.head
				a(href="/")
					img(src="img/svg/logo.svg", alt="")
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-auto
					a(href="/")
						img(src="img/svg/logo.svg", alt="")
				.col.text-secondary Невероятное приключение <br> на 7 дней
				//- .col-auto
				//- 	a(href="") 
				.d-none.d-md-block.col-auto
					.sContact__btns.pt-0
						a.sContact__btn.btn.btn-success(href="#")
							+icon("whatsapp")
						a.sContact__btn.btn.btn-primary(href="#")
							+icon("telegram")
				.col-auto.text-end
					+e.tel(href="tel:+7(952)354-77-40")
						+e.tel-icon.d-md-none
							+icon("tel")
						.d-none.d-md-block +7 (952) 354-77-40 
					div.d-none.d-md-block
						+e.link.link-modal-js(href="#modal-call" data-title="Заказать звонок" data-btn="Заказать звонок" data-order="Заказать звонок в шапке" ).strong Заказать звонок
				.col-auto
					+b.toggle-menu-mobile--js
						+e.title.d-none.d-xl-block  Меню
						span
				//- .col.d-none.d-lg-block
				//- 	+mnu()
					
	// end top-nav